* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.txt7 {
    font-size: 7px;
}
.txt8 {
    font-size: 8px;
}
.txt9 {
    font-size: 9px;
}
.txt10 {
    font-size: 10px;
}
.txt11 {
    font-size: 11px;
}
.txt12 {
    font-size: 12px;
}
.txt13 {
    font-size: 13px;
}
.txt14 {
    font-size: 14px;
}
.txt15 {
    font-size: 15px;
}
.txt16 {
    font-size: 16px;
}
.txt17 {
    font-size: 17px;
}
.txt18 {
    font-size: 18px;
}
.txt19 {
    font-size: 19px;
}
.txt20 {
    font-size: 20px;
}
.txt21 {
    font-size: 21px;
}
.txt22 {
    font-size: 22px;
}
.txt23 {
    font-size: 23px;
}
.txt24 {
    font-size: 24px;
}
.txt28 {
    font-size: 28px;
}
.txt42 {
    font-size: 42px;
}

.bottom-border {
    border-bottom: 1px solid #e8e8e8;
}
